*{
    margin: 0;
    padding: 0
}
.introduce{
    width: 900px;
}
.introduce>p{
    font-weight: bold;
    text-align: left;
    margin-top: 50px;
}
.introduce span{
    color:gray;
    font-weight: lighter;
    font-size: 13px;
    padding-left:15px; 
}
.txt{
    list-style: none;
}
.txt li{
    margin-top: 30px;
    font-size: 12px;
    line-height: 30px;
}
.txt2{
    margin-top: 40px;
    font-size: 12px;
    line-height: 35px;
}
.txt2 img{
    width: 99%;
    margin-top: 40px;

}