
.all{
    width: 1000px;
    height: 2890px;
    margin-left: 370px;
}
.all>h2{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px

}
.all>p{
    width: 850px;
    height: 90px;
    font-size: 12px;
    color: #333;
    line-height: 22px;
}
.all .teacher_title{
    width: 165px;
    border-bottom: 2px solid #000;
    font-weight: bold;
    padding:5px;
    margin-bottom: 10px
}
.teacher{
    width:1000px;
    height: 230px;
    list-style: none;
    padding: 2px;

}
.teacher li{
    display: flex;
    width:850px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid rgb(223, 223, 223);
    margin-bottom: 15px;
}
.teacher li div:first-child{
    width: 150px;height: 230px;
    border: 1px solid rgb(223, 223, 223);
    background-image: url("http://127.0.0.1:8888/img/teacher/1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.txt{
    margin-top: 20px;
}
.teacher li p{
    width: 300px;
    color: dimgrey;
    font-size: 12px;
    line-height: 20px; 
    padding-bottom: 10px;
}
.teacher li h2{
    font-size:20px;
    padding-bottom: 10px;
}
.teacher li h3{
    font-size:16px;
    padding-bottom: 10px;
}
.teacher li .tag{
    width: 150px;
    height: 30px;
    background-color:rgb(201, 201, 201);
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
}
.page{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 150px;
    list-style: none;
    position: relative;
    top: 0px;
    left:660px;
}
.btn{
    /* display: block; */
    width: 27px;height: 27px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 27px;
    /* text-decoration: none; */
    cursor: pointer;
}
.btn_down{
    width: 70px;
    height: 22px;
    border: 1px solid gray;
    margin-top:200px;
    text-align: center ;
    border-radius: 4px;
}
.hide{
    display: none;
    width: 900px;
    height: 100px;
    background: #e7e7e7;
    /* text-align: center; */
    padding: 10px;
    overflow: hidden;
    margin-top: 10px;
    font-size: 11px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    width:600px;
    height: 230px; 
}
.btn_down:hover{
    cursor: pointer;
}